        html {
            background-color: rgb(198, 255, 182);
            font-family: Yanone Kaffeesatz;
            font-size: 20px;
        }
        h2 {text-align:center;}
        h4 {text-align:center;}
        h5 {text-align:center;}
        img {
            text-align: center;
            display:inherit; 
        }
        .pic {
            width:80%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
        #content {
            width: 70%;
            height: auto;
            margin-left: auto;
            margin-right: auto;

        
        }
        #Art1 {
            width: 45%;
            height: auto;
            display: block;
            float: left;
        }
        
        #Art2 {
            width: 45%;
            height: auto;
            display: block;
            float: right;
        }
        #Art3 {
            width: 45%;
            height: auto;
            display: block;
            float: left;
            clear: left;
        }
        
        #Art4 {
            width: 45%;
            height: auto;
            display: block;
            float: right;
            clear: right;
        }
        #reflection {
            width:100%;
            clear:both;
            display:block;
            margin-left: auto;
            margin-right: auto;
        }