<div class="panel-body">
      <img class="logo img-responsive" src="../public/imgs/rails.jpg"/></a>
      <p>Ruby on Rails is basically a software library or RubyGem that is added to the Ruby language. Often called Rails, it is a sort of framework for building websites, with an added benefit of easier maintancence and collaberation. More specifically it combines all the useful web programming languages such as HTML, CSS, and JavaScript in order to transform the website into a web application which runs on a web server.
      <br>
      <br>
      Rails is considered more of a back-end programming tool. It is considered to be a very productive language illustrated by its two main philosphies. The first is "Don't Repeat Yourself" and the second is "Convention over Configuration." It allows you to minimize repetitive and lame tasks in order to build a more complex and interactive website, in other words, a web application. It allows you to combine multiple website programming languages into a seamless tool. The fact that it is run on a web server just adds to the incredible functionalality of the Ruby on Rails framework; it is by far the best way to create a powerful and dynamic web application.
      </p>
</div>