<div class="panel-body">
      <img class="logo" src="../public/imgs/Enumerable.PNG"/></a>
      <p>The Enumerables module is a has a whole package of methods that can mix together and work quite efficiently. Since I have started to learn Ruby, Enumerables have made my life a lot easier. Before, when I was a complete beginner, I found myself making really complicated code to do the most simple tasks. But then I found out that there is a way to do something to every element in a collection, with a simple line of code from the Enumerable module.
      <br>
      <br>
      The specific Enumerable method known as map, is one I have found to be the most useful thus far. Map, also known as collect (yeah it does the exact same thing), returns the result of running the block specified on each element of the code. So for example, [1,2,3,4].map { |x| x + 1 } would return the array [2,3,4,5]. Having the ability to type whatever block best fits your program, makes map a very diverse method. There are many ways to manipulate this code in combination with other Enumerables. If the block is not specified, however, map returns an enumerator.
      </p>
</div>