<div class="panel-body">
      <img class="logo img-responsive" src="../public/imgs/arrayhash.PNG"/></a>
      <p> Arrays and Hashes are quite useful when it comes to Ruby. Both of them are uses to store a collection of different or similar object types, including strings and integers. The difference is that an Array uses and integer-index as a key, whereas a Hash uses an object as a key to access another object, which is a value. If you still don't understand what I mean, then refer to the image above. Hashes are more flexible, but arrays elements are a lot easier to access.
      <br>
      <br>
      An Array might be more useful when you want to access objects based on position relative to another. For example if you want to access the first object, you can use the index 0, and when you want to access the last object, you can use the index -1. 
      Hashes are a lot more flexible than Arrays because you can choose to make your keys into symbols (This is a ":symbol"). Making the keys into symbols makes Hashes much easier to create and access. So instead of using strings as keys, as shown above, you can associate a key-value pair like this: family = { Randy: "dad"}. You would access the string "dad" by typing in family[:Randy].
      <br>
      <br>
      Overall, an Array should be used when the relative order of the objects is the most important factors. On the other hand, a Hash should be used when you need to map out a set of pairs, where the key-value is the most important factor, and the relative order does not matter. For example, I would use an Array if I wanted to sort out a set of numbers, such as grade percentages, and find the median. I would use a Hash if I wanted to create a set of movie titles and their respective ratings.
      </p>
</div>