html {
	background-color: #5E5E5E;
	background-image: url("../imgs/dark-wood-panels.jpg");
}
* {
	font-family: Yanone Kaffeesatz,Tahoma;
}

table {
	border: 3px solid white;
	border-radius: 5px;
	background-color: #B0B0B0; 
	width:100%;
	margin-right: auto;
	margin-left:auto;
	text-align: center;
}
table tr td {
	width:60px;
}
table tr td a {
	text-decoration: none;
	color: #00225C;
	font-weight: bold;	
	font-size: 20px;
}
table tr td a:hover{
	text-decoration:underline;
	color: #678EF5;
}
table td { 
	padding:5px 5px 5px 5px;
	border-right: 2px solid #FFFFFF;
}
#noborder {
	border-right:none;
}
#bar {
	padding:10px 10px 10px 10px;
	width:919px;
	height:auto;
	vertical-align: middle;
	position:static;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	max-width: 920px;
	min-width: 900px;
}
#headering {
	border:3px solid white;
	border-radius: 5px;
	width:auto;
	height:195px;
	}

#prof {
	width:auto;
	height:195px;
	border:3px solid white;
	border-radius: 5px;
}
#profile {
	display:inline-block;
	margin-right:auto;
	margin-left:auto;
	vertical-align: middle;
}
#head {
	display:inline-block;
	vertical-align: middle;
	top:0;
	right:0;
}
#table {
	margin-right: auto;
	margin-left: auto;
}
#body {
	display:block;
	margin-top: -5px;
}

#one {
	display:block;
	margin-right: auto;
	margin-left: auto;
	width: 895px;
	border: 2px solid #b0b0b0;
	background-color: #FFFFFF;
	color: #00225c;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	max-width: 900px;
	min-width: 890px;
}

#two {
	display:block;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	width: 895px;
	border: 2px solid white;
	background-color: #b0b0b0;
	color: #00225c;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	max-width: 900px;
	min-width: 890px;
}
img {
	width:80%;
	height:auto;
	margin-left: auto;
	margin-right:auto;
	text-align: center;
	display: inherit;
}
#three {
	margin-right: 10px;
	position: fixed;
  	bottom: 10px;
  	right: 0;
	width: 180px;
	border: 2px solid white;
	background-color: #b0b0b0;
	color: #00225c;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	max-width: 180px;
	min-width: 170px;
}

#share {
	float:right;
}
ul li a {
	text-decoration: none;
	color: #00225c;
	font-weight: bold;
	font-size: 18px;
}

ul li a:hover{
	text-decoration:underline;
	color: #678ef5;	
}
body p {
	font-size: 18px;
}
#bodyp {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
h2 {
	line-height: .5;
}

h3{
	font-family: Rock Salt, serif;
	font-size: 26px;
	text-align: center;
	line-height: .5;
}
h4{
	font-size: 16px;
	text-align: center;
	line-height: 0;
}
#copyright {
	width: 912px;
	height: 15px;
	border-radius: 5px;
	border: 5px solid #b0b0b0;
	background-color: #b0b0b0;
	text-align: center;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	font-family: open sans, sans;
	font-size: 12px;
	max-width: 912px;
	min-width: 900px;
}
.cont {
	width:auto;
	height: 21px;
	margin-left: auto;
	margin-right:auto;
	display:inline-block;
	background-color: white;
	vertical-align: middle;
	margin-bottom: 2px;
	border: 1px solid white;
	border-radius: 3px;
}
#contact {
	background-color: white;
	border-radius: 5px;
}