html {
	background-color: #5E5E5E;
	background-image: url("../imgs/dark-wood-panels.jpg");
}
* {
	font-family: Yanone Kaffeesatz,Tahoma;
}

table {
	border: 3px solid white;
	border-radius: 5px;
	background-color: #B0B0B0; 
	width:100%;
	margin-right: auto;
	margin-left:auto;
	text-align: center;

}
table tr td {
	width:60px;
}
table tr td a {
	text-decoration: none;
	color: #00225C;
	font-weight: bold;
	font-size: 20px;	
}
table tr td a:hover{
	text-decoration:underline;
	color: #00225C;
	box-shadow: 0px 0px 16px 3px rgba(0,166,255,1);
	background-color: rgba(0,166,255,1);
}
table td { 
	padding:5px 5px 5px 5px;
	border-right: 2px solid #FFFFFF;
}
#noborder {
	border-right:none;
}
#bar {
	padding:10px 10px 10px 10px;
	width:919px;
	height:auto;
	vertical-align: middle;
	position:static;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	max-width: 920px;
	min-width: 900px;
}
#headering {
	border:3px solid white;
	border-radius: 5px;
	width:912px;
	height:auto;
	background-color: white;
	}
#head {
	display:inline-block;
	vertical-align: middle;
	top:0;
	right:0;
}
#table {
	margin-right: auto;
	margin-left: auto;
}
#homepage {
	display: block;
	border-radius: 5px;
	margin-top: -5px;
	margin-left: auto;
	margin-right:auto;
	width:921px;
	padding: 0px 10px 0px 10px;
	max-width: 930px;
	min-width: 890px;
}

#weblink {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display block;
	color: #00225C;
	font-size: 24px;
	line-height: 2;
	font-family:Yanone Kaffeesatz,serif;
	border-radius: 5px;
}
#weblink a{
	font-family:Yanone Kaffeesatz,serif;
	color: #00225C;
	text-decoration: none;
}
#weblink a:hover{
	text-decoration:underline;
	color: #00225C;
	font-size: 24px;
	box-shadow: 0px 0px 30px 10px rgba(0,166,255,1);
	background-color: rgba(42, 181, 255, 1);
}
#weblink a:visited{
	font-size: 24px;
}
#h1 {
	font-family: Rock Salt, serif;
	text-align: center;
	font-size: 38px;
	color: #00225C;
	background-color: white;
	border-radius: 5px;
	border:5px solid white;
	margin-top: 0px;
	margin-bottom: 5px;
}
#h2 {
	font-family: Rock Salt, serif;
	text-align: center;
	font-size: 26px;
	color: #00225C;
	border-bottom: 3px solid #00225C;
	padding-bottom: 4px;
}
.logo {
	width:400px;
	height:auto;
	margin-left: auto;
	margin-right:auto;
}
.logo:hover {
	box-shadow: 0px 0px 30px 10px rgba(0,166,255,1);
}
#copyright {
	width: 912px;
	height: 15px;
	border-radius: 5px;
	border: 5px solid #b0b0b0;
	background-color: #b0b0b0;
	text-align: center;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	font-family: open sans, sans;
	font-size: 12px;
	max-width: 912px;
	min-width: 900px;
}
#tech {
	background-color: white;
	border: 3px solid white;
	border-radius: 5px;
	width:915px;
	max-width: 915px;
	min-width: 900px;
}
#cult {
	background-color: white;
	border: 3px solid white;
	border-radius: 5px;
	margin-top: 10px;
	width:915px;
	max-width: 915px;
	min-width: 900px;
}
.cont {
	width:auto;
	height: 21px;
	margin-left:1.5px;
	margin-right:1.5px;
	display:inline-block;
	background-color: white;
	vertical-align: middle;
	margin-bottom: 2px;
	border: 1px solid white;
	border-radius: 3px;
}
.cont:hover {
	box-shadow: 0px 0px 16px 3px rgba(0,166,255,1);
	border: 1px solid rgba(42, 181, 255, 1);
}#contact {
	background-color: white;
	border-radius: 5px;
}