html {
	background-color: #5E5E5E;
	background-image: url("../imgs/dark-wood-panels.jpg");
}
* {
	font-family: Yanone Kaffeesatz,Tahoma;
}

table {
	border: 3px solid white;
	border-radius: 5px;
	background-color: #B0B0B0; 
	width:100%;
	margin-right: auto;
	margin-left:auto;
	text-align: center;
}
table tr td {
	width:3.75em;
}
table tr td a {
	text-decoration: none;
	color: #00225C;
	font-weight: bold;
	font-size: 1.25em;
}
.button {
	position: relative;
}
.button:after {
	content:'';
    position:absolute;
    top:-9px; 
    bottom:-10px; 
    left:-79px; 
    right:-70px; 
    width:170px;
    margin-left: 12px;
}
table tr td a:hover{
	text-decoration:underline;
	color: #00225C;
	box-shadow: 0px 0px 16px 3px rgba(114, 161, 200, 1);
	background-color: rgba(141, 168, 190, 1);
}
table td { 
	padding:5px 5px 5px 5px;
	border-right: 2px solid #FFFFFF;
}
#noborder {
	border-right:none;
}
#bar {
	padding:0.625em 0.625em 0.625em 0.625em;
	width:57em;
	height:auto;
	vertical-align: middle;
	position:static;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	max-width: 57.5em;
	min-width: 56em;
}
#headering {
	border:3px solid white;
	border-radius: 5px;
	width:57em;
	height:auto;
	background-color: white;
}
#head {
	display:inline-block;
	vertical-align: middle;
	top:0;
	right:0;
}
#table {
	margin-right: auto;
	margin-left: auto;
}
#homepage {
	border:3px solid white;
	display: block;
	border-radius: 5px;
	margin-top: -5px;
	margin-left: auto;
	margin-right:auto;
	width:56em;
	background-color: white;
	padding: 10px 10px 10px 10px;
	max-width: 56.5em;
	min-width: 55.5em;
}
#Randy {
	display: inline-block; 
	width:27.5em;
	height: auto;
	vertical-align: middle;
	padding: 5px 10px 5px 10px;
}
#picture {
	display: inline-block;
	text-align: right;
}
#pic {
	width: 22em;
	height: auto;
	vertical-align: middle;
	margin-left: 1.875em;
}
.logo {
	height: 1.875em;
	width:auto;
	margin-left: auto;
	margin-right:auto;
	vertical-align: middle;
	border-radius: 4px;
	padding-right: 1px;
}
#weblink {
	margin-left: 6.5em;
	margin-right: auto;
	display block;
	color: #00225C;
	font-size: 1em;
	line-height: 2;
	font-family:Yanone Kaffeesatz,serif;
}
#weblink a{
	font-family:Yanone Kaffeesatz,serif;
	color: #00225C;
	text-decoration: none;
	vertical-align: middle;
	position: relative;
}
#weblink a:after {
	content:'';
    position:absolute;
    top:-10px; 
    bottom:-10px; 
    left:-6.25em; 
    right:-6.25em; 
    width:25em;
}
#weblink a:hover{
	text-decoration:underline;
	color: #00225C;
	font-size: 1em;
	box-shadow: 0px 0px 20px 5px rgba(154, 181, 194, 1);
	background-color: rgba(174, 195, 206, 1);
	vertical-align: middle;
}
#weblink a:visited{
	font-size: 1em;
	vertical-align: middle;
}
#h1 {
	font-family: Rock Salt, serif;
	text-align: center;
	font-size: 2.375em;
	color: #00225C;
	line-height: 0.5;
}
#snip {
	font-size: 1em;
}
#copyright {
	width: 57em;
	height: 15px;
	border-radius: 5px;
	border: 5px solid #b0b0b0;
	background-color: #b0b0b0;
	text-align: center;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	font-family: open sans, sans;
	font-size: 12px;
	max-width: 57em;
	min-width: 56.5em;
}
.cont {
	width:auto;
	height: 1.313em;
	margin-left: 1.5px;
	margin-right:1.5px;
	display:inline-block;
	background-color: white;
	vertical-align: middle;
	margin-bottom: 2px;
	border: 1px solid white;
	border-radius: 3px;
}
.cont:hover {
	box-shadow: 0px 0px 5px 1px rgba(114, 161, 200, 1);
	border: 1px solid rgba(141, 168, 190, 1);
}
#contact {
	background-color: white;
	border-radius: 5px;
}