<div ng-init="tog=3" class="col-xs-10 col-md-8 col-centered">
  <h2 class='title'>Technical Blogs</h2>
</div>

<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.post1'>GitBlog: A little bit about Version Control Software and its Benefits</a>
    </div>
      <div ui-view="blog.post1"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.post2'>Classes and IDs: Best Practices for Stylizing your HTML page with CSS</a>
    </div>
      <div ui-view="blog.post2"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.post3'>Ruby: Arrays and Hashes - When to Use Which</a>
    </div>
      <div ui-view="blog.post3"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post4'>Ruby: Enumerable Method: #Map</a>
    </div>
      <div ui-view="blog.post4"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post5'>Ruby: Classes</a>
    </div>
      <div ui-view="blog.post5"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.post6'>Ruby: Object-Oriented vs. Functional Programming</a>
    </div>
      <div ui-view="blog.post6"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post7'>Ruby Hashes vs. JavaScript Objects</a>
    </div>
      <div ui-view="blog.post7"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post8'>What is Rails?</a>
    </div>
      <div ui-view="blog.post8"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post9'>Working on My Professional Website</a>
    </div>
      <div ui-view="blog.post9"></div>
  </div>
</div>

<div class="col-xs-10 col-md-8 col-centered">
  <h2 class='title'>Cultural Blogs</h2>
</div>

<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.post10'>DBC Culture: The Dev Bootcamp Experience and Culture Thus Far</a>
    </div>
      <div ui-view="blog.post10"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.post11'>My Thinking Style: How my Mind Works and Learns Best</a>
    </div>
      <div ui-view="blog.post11"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post12'>The Tech Industry Issue of Privacy</a>
    </div>
      <div ui-view="blog.post12"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post13'>Pairing and Feedback</a>
    </div>
      <div ui-view="blog.post13"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post14'>Stereotype Threat</a>
    </div>
      <div ui-view="blog.post14"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post15'>Affirmation and Stereotype Threat</a>
    </div>
      <div ui-view="blog.post15"></div>
  </div>
</div>

<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post16'>Conflict</a>
    </div>
      <div ui-view="blog.post16"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.post17'>Asking Good Questions</a>
    </div>
      <div ui-view="blog.post17"></div>
  </div>
</div>

