<div ng-init="tog=3" class="col-xs-10 col-md-8 col-centered">
  <h2 class='title'>Technical Blogs</h2>
</div>

<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.t_post1'>GitBlog: A little bit about Version Control Software and its Benefits</a>
    </div>
      <div ui-view="blog.t_post1"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.t_post2'>Classes and IDs: Best Practices for Stylizing your HTML page with CSS</a>
    </div>
      <div ui-view="blog.t_post2"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.t_post3'>Ruby: Arrays and Hashes - When to Use Which</a>
    </div>
      <div ui-view="blog.t_post3"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.t_post4'>Ruby: Enumerable Method: #Map</a>
    </div>
      <div ui-view="blog.t_post4"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.t_post5'>Ruby: Classes</a>
    </div>
      <div ui-view="blog.t_post5"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.t_post6'>Ruby: Object-Oriented vs. Functional Programming</a>
    </div>
      <div ui-view="blog.t_post6"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.t_post7'>Ruby Hashes vs. JavaScript Objects</a>
    </div>
      <div ui-view="blog.t_post7"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.t_post8'>What is Rails?</a>
    </div>
      <div ui-view="blog.t_post8"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.t_post9'>Working on My Professional Website</a>
    </div>
      <div ui-view="blog.t_post9"></div>
  </div>
</div>

<div class="col-xs-10 col-md-8 col-centered">
  <h2 class='title'>Cultural Blogs</h2>
</div>


<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref='blog.c_post1'>My Thinking Style: How my Mind Works and Learns Best</a>
    </div>
      <div ui-view="blog.c_post1"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.c_post2'>Pairing and Feedback</a>
    </div>
      <div ui-view="blog.c_post2"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.c_post3'>Stereotype Threat</a>
    </div>
      <div ui-view="blog.c_post3"></div>
  </div>
</div>


<div class="col-xs-10 col-md-8 col-centered">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a ui-sref='blog.c_post4'>Asking Good Questions</a>
    </div>
      <div ui-view="blog.c_post4"></div>
  </div>
</div>

