<div ng-init="tog=4" class="col-xs-10 col-md-8 col-centered">
    <h2 class='title'>Projects</h2>
</div>

<div class="col-xs-10 col-md-8 col-centered">
  <div class="panel panel-default panel-heading">
      <a href="http://sellme.us.s3-website-us-west-1.amazonaws.com/" target="_blank">SellMe: Online Marketplace Tailored for the Buyer</a>
    </div>
    <div class="panel panel-default panel-heading">
      <a href="http://todolistr.herokuapp.com/" target="_blank">TodoListr: Entirely Dynamic Todo List App</a>
    </div>
    <div class="panel panel-default panel-heading">
      <a href="http://musicstreamify.herokuapp.com/" target="_blank">Streamify: Music Video Streaming App</a>
    </div>
    <div class="panel panel-default panel-heading">
      <a href="http://bart-eta.herokuapp.com/" target="_blank">Bart ETA App (Live Time, Using Bart API)</a>
    </div>
    <div class="panel panel-default panel-heading">
      <a href="../public/projects/javascriptgame.html" target="_blank">A Simple JavaScript Game</a>
    </div>
    <div class="panel panel-default panel-heading">
      <a href="../public/projects/cheat-sheet.html" target="_blank">JavaScript Cheatsheet</a>
    </div>
</div>
